.shipping-countdown {
        border: 1px solid black;
        border-radius: 0.25rem;
        padding: 1rem;
      }

      .shipping-countdown-title {
        font-size: 1.2rem;
      }

      .shipping-countdown-text {
        font-size: 1rem;
      }
